#### 1.

In [ ]:
import sqlite3

# 1. Connect to database (creates it if it doesn't exist)
connection = sqlite3.connect('NewDB.db')

# 2. Create a cursor object to execute SQL commands
cursor = connection.cursor()

# 3. Create the Roster table
cursor.execute('''
CREATE TABLE IF NOT EXISTS Roster (
    Name TEXT,
    Species TEXT,
    Age INTEGER
)
''')

# 4. Commit changes and close connection
connection.commit()
connection.close()

print("Database created successfully with Roster table!")

#### 2.

In [ ]:
import sqlite3

try:
    # 1. Connect to database (creates it if it doesn't exist)
    connection = sqlite3.connect('NewDB.db')

    # 2. Create a cursor object to execute SQL commands
    cursor = connection.cursor()

    # 3. Creating the insert query with values to be inserted into the "Roster" table
    insert_query = ''' 
    CREATE TABLE IF NOT EXISTS Roster (Name TEXT, Species TEXT, Age INTEGER);
    DELETE FROM Roster;
    INSERT INTO Roster VALUES
        ("Banjamin Sisko", "Human", 40),
        ("Jadzia Dax", "Trill", 300),
        ("Kira Nerys", "Bajoran", 29) '''

    # 4. Executing the insert query
    cursor.executescript(insert_query)

    # 5. Testing if all the data has been inserted
    # cursor.execute("SELECT * FROM Roster")

    # 6. Printing the inserted data
    for row in conn.execute("SELECT * FROM Roster"):
                print(f"  {row[0]:<16} {row[1]:<8} {row[2]:>3}")

    # 7. Committing the insertion
    connection.commit()



    # 8. Closing the database
    connection.close()

except sqlite3.Error as e:
    print(f"Insert error: {e}")

except Exception as ex:
    print(f"Error: {ex}")

print("\nThe data has successfully been inserted.")

#### 3.

In [ ]:
import sqlite3

# Connect to database
with sqlite3.connect("NewDB.db") as conn:
    try:
        # Start a transaction
        with conn:
            cursor = conn.cursor()
            
            # Use parameterized query
            cursor.execute("""
                UPDATE Roster
                SET Name = ?
                WHERE Name = ?
            """, ('Ezri Dax', 'Jadzia Dax'))
            
            # Check if update was successful
            if cursor.rowcount > 0:
                print(f"Successfully updated {cursor.rowcount} record(s)")
            else:
                print("No records were updated - name not found")
                
    except sqlite3.Error as e:
        print(f"Database error occurred: {e}")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

#### 4.

In [ ]:
import sqlite3

with sqlite3.connect("NewDB.db") as conn:
    # Starting transaction
    with conn:
        cursor = conn.cursor()

        # Looping through the outcome of the "Select" statement (Name, Age)
        for i in cursor.execute("SELECT Name, Age FROM Roster WHERE Species = 'Bajoran'"):
            print(f"Name: {i[0]} \nAge: {i[1]}")