### 1.

In [ ]:
txt = list("assalom")

vowels = {"a", "e", "i", "o", "u"}
ind = 3

while ind < len(txt):
    
    while ind < len(txt) and (txt[ind-1] in vowels or txt[ind] == "_"):
      ind += 1

    if ind >= len(txt):
      break
        
    txt.insert(ind, "_")

    ind += 4

print(''.join(txt))

### 2.

In [ ]:
# Receive an input from the user and convert it to int type
n = int(input("Enter a positive number between 1 and 20:"))

# Validating the input with the constraint
if 1 <= n <= 20:
    # Loop through range from 0 to n and print the power of every integer up to the n input
    for i in range(n): 
        print(i ** 2)
else:
    # Else print an output message
    print("Entered number is out of valid range, try again.")

### 3.

#### Exercise 1.

In [ ]:
# Exercise 1. Printing first 10 natural numbers using while loop
i = 0
while i < 10:
    i += 1
    print(i)

#### Exercise 2.

In [ ]:
# Exercise 2. 

# Creating empty list as an initial point
my_list = []

# Creating a variable i with value 0 so that it starts with 1 in the first loop
i = 0

# Looping through i reaches 5
while i < 5:
    # increament by 1 at every loop
    i += 1
    # append every i value to our list
    my_list.append(str(i))
    # printing every iteration converting the list into a string type with a space between every character
    print(' '.join(my_list))

#### Exercise 3.

In [ ]:
# Exercise 3.

# Getting an input from the user
n = int(input("Enter a positive number: "))

# Creating an empty list, we will append the values in the loop
my_list = []

# we will append every i value up to n to the list by incrementing it by 1 at every iteration
for i in range(n):
    i += 1
    my_list.append(i)

# Printing the sum of the list with an output message
print("The sum is:", sum(my_list))

#### Excercise 4.

In [ ]:
# Excercise 4.

# Variable n (given number)
n = 2

# Loop through from 1 to 10 and multiply every element by the given n and print the result
for i in range(1, 11):
    i = i * n
    print(i)

#### Exercise 5.

In [2]:
# Given a list variable
numbers = [12, 75, 150, 180, 145, 525, 50]

# loop through the list
for i in numbers:

    # If an element of a list matches the given list, print the element
    if i in [75, 150, 145]:
        print(i)
    # Otherwise ignore
    else:
        continue

75
150
145

#### Exercise 6.

In [4]:
# Variable with a given number
number = 75869

# Creating a new variable and converting it to a list type
str_list = list(str(number))

# Printing the length of the list
print(len(str_list))

5

#### Exercise 7.

In [11]:


new_list = [1, 2, 3, 4, 5]

for i in new_list:
    new_list = reversed(new_list)
    print(new_list)

<list_reverseiterator object at 0x278c850>

<class 'TypeError'>: 'list_reverseiterator' object is not reversible